.panel-title {
	font-weight: bold;
	color: color(primary);
	background-color: #1d2528;

}
.panel-heading{
	color: color(primary);
	background-color: #1d2528;
}
.panel{
	color: color(primary);
	background-color: #1d2528;
}
.panel-title{
	color: color(primary);
	background-color: #1d2528;
}
.panel-body{
	color: color(primary);
	background-color: #1d2528;
}
.body{
	color: color(primary);
	background-color: #1d2528;
}
